<!DOCTYPE html>
{% load static %}
<html>
	<head>
        <title>Tweety App</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body id="page-top">
		<nav class="navbar">
			<h1 style="text-align: center;">TWEETY APP</h1>
		</nav>
    	<div class="main-content">
    		<div class="column-left">
				<div class="content">
					<h3>Create your own tweets dataset in minutes!</h3>
					<form class="form" id="hashtag-form" name="hashtag-form" method="POST" onsubmit="return checkInput()">
						{% csrf_token %}
            <br>
						<label for="hashtag">Enter hashtag:</label><br>
						<input type="text" id="hashtag" name="hashtag" placeholder="#FarmersProtest" autocomplete="off"><br><br>
						<label for="count">Maximum number of tweets: <span id="demo"></span></label><br>
						<div class="slidecontainer">
							<input type="range" min="1000" max="5000" step="1000" list="steplist" value="1000" id="count" name="count">
							<datalist id="steplist">
								<option>1000</option>
								<option>2000</option>
								<option>3000</option>
								<option>4000</option>
								<option>5000</option>
							</datalist>
						</div>
						<script>
							var slider = document.getElementById("count");
							var output = document.getElementById("demo");
							output.innerHTML = slider.value;
							slider.oninput = function() {
							output.innerHTML = this.value;
							}
							function checkInput(){
								var hashtag = document.forms["hashtag-form"]["hashtag"].value;
								if (hashtag == ""){
									alert("Please enter a hashtag.")
									return false;
								}
							}
							function hideWaiting(){
								var x = document.getElementById("waiting");
								if (x.style.display === "none") {
									x.style.display = "block";
								} else {
									x.style.display = "none";
								}
							}
						</script>
						<input type="submit" value="GENERATE DATASET">
					</form>
					<br>
					{% if not data %}
					<div id="waiting" style="display: none; text-align: center;">
						<p>Your dataset will be ready for download shortly. Do not refresh this page.</p>
					</div>
					{% else %}
					<p style="text-align: center;">Your dataset is ready for download!</p>
					<button>
						<a href="{% url 'app:download' %}">DOWNLOAD DATASET</a>
					</button>
					{% endif %}
				</div>
			</div>
    		<div class="column-right">
				<div class="content">
					<h3>About Tweety</h3>
					<p style="padding: 1px 18px;">Tweety is a hashtag sraper for Twitter, built to generate tweets datasets based on popular hashtags.
					Use Tweety to generate your own tweets dataset for your Data Science & Natural Language Processing projects.
					</p>
					<p style="padding: 1px 18px;">Based on the hashtag given, Tweety scrapes Twitter for tweets that contain the hashtag.
					The result is a dataset of tweets containing the hashtag, as well as a dataset of users who tweeted those tweets.
					The dataset can be downloaded as a zip file.
					</p>
					<p style="padding: 1px 18px;">Contribute to this project on <a href="">GitHub</a>.</p>
				</div>
			</div>
    	</div> 
    </body>
</html>
